<div class="sidebar" data-color="purple" data-background="white">
    <a href="~/">
        <img id="site-logo" class="pull-center" src="~/images/csharp_logo.png" />
    </a>
    <div class="logo">
        <a href="~/" class="simple-text logo-normal">
            Application Template    
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    <p>Section 1</p>
                </a>
            </li>
        </ul>
    </div>
</div>